* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout-padding {
    padding: 40px;
}

.top-boxes {
  display: flex;
  .single-box {
    color:black;
    width: 24%;
    padding: 25px;
    background:  #e6e6e6;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    .hover-show {
      display: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
    }
    &:hover,
    &.active {
      background: #ff7a00;
      color: #fff;
    }

    .toggler-button {
      padding: 35px;

      @media (max-width: 1240px) {
        padding: 20px;
      }
    }

    .earning-text {
      margin: 5px 0 4px;
      font-weight: 500;
    }
    .earning-price {
      font-weight: 700;
      color: #fff;
      font-size: 20px;
    }
  }
}

.full-width {
  float: left;
  width: 100%;
}

.horizontal-scroll {
    overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizontal-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.full-width .single-box .full-width .center-img:hover {
    display: block;
    margin-left: auto;
    margin-right: auto;
     width: 100%;
      height: auto;
}

.single-box-active {
  background: #ff7a00 !important;
  color: #fff !important;
  .hover-show {
    display: inline-block !important;
  }
  .not-hover-show {
    display: none !important;
  }
}
.mainEventImage{
    margin-top: 10px
}
