.card-container {
    display: flex;
}

.card-container:hover {
    box-shadow: '1';
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.searchTerm {
    width: 50%;
    border: 3px solid #1976d2;
    border-right: none;
    padding-left: 20px;
    height: 2.5rem;
    border-radius: 10px 0 0 10px;
    outline: none;
    color: black;
}

.searchButton {
    background: #00B4CC;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}

.search-icon {
    padding-right: 5px;
}